@media only print {
  
  html, body {
    height: auto;
    margin: 0;
    -webkit-print-color-adjust: exact !important;
  }
  
  .d-print-none {
    display: none;
  }
  
  @page {
    size: landscape;
    margin-top: 10.2mm;
    margin-left: 12.5mm;
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .card-div {
    width: 65mm;
    height: 93mm;
    page-break-inside: avoid;
    display: inline-block;
    background: #000;
  }
  
  img.normal {
    border-radius: 3.5mm;
  }
  
  .js-results.row {
    display: block !important;
    width: 100%;
    font-size: 0;
  }
}